body {background-color: #000; color: #fff; font-family: "Palatino Linotype", "Times New Roman"; margin-top: 0;}
a {color: #8bf;}

#title {position: absolute; top: 0%; left: 25px;}
#title h1 {padding: 0; margin: 0; font-size: 60pt; font-style: italic;}
#title h2 {padding: 0; margin: 0; font-size: 10pt; font-style: normal; font-weight: normal; padding-left: 20px;}

div.quote {position: absolute; width: 30%;}
div.quote div.body {font-style: italic; font-size: 12pt; font-family: "Verdana", "Georgia"}
div.quote div.source {padding-left: 30px; padding-top: 3px;}
div.quote div.source a {font-size: 11pt;}
#quote1 {top: 27%; left: 10%;}
#quote2 {top: 41%; left: 36%;}
#quote3 {bottom: 33%; left: 60%; width: 36%; max-width: 400px;}

#picture {position: absolute; right: 4%; bottom: 4%;}
#picture img {}

#people {position: absolute; bottom: 5%; left: 30px;}
#people div {padding-bottom: 5px; font-size: 18pt; }
#people div a {}

#schedule {position: absolute; top: 3%; right: 0%; margin-right: 20px; padding-left: 10px; padding-right: 3px; padding-bottom: 15px; border: 0px double white; border-bottom-width: 3px;}
#schedule td {padding-right: 10px; vertical-align: top;}
#schedule td.date {}
#schedule td.date span {font-size: 16pt;}
#schedule td.venue {padding-top: 4px;}
#schedule td.venue a {}

#news {position: absolute; top: 23%; right: 5%;}
#news div {}
#news div a {}
